
body {
  min-width: 696px;
}

/* Container
----------------------------------------------------------------------------------------------------*/
.container_8 {
	margin-left: auto;
	margin-right: auto;
	width: 696px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8 {
	position:relative;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 8 Columns
----------------------------------------------------------------------------------------------------*/

.container_8 .grid_1 {
	width:67px;
}

.container_8 .grid_2 {
	width:154px;
}

.container_8 .grid_3 {
	width:241px;
}

.container_8 .grid_4 {
	width:328px;
}

.container_8 .grid_5 {
	width:415px;
}

.container_8 .grid_6 {
	width:502px;
}

.container_8 .grid_7 {
	width:589px;
}

.container_8 .grid_8 {
	width:676px;
}

/* Prefix Extra Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/

.container_8 .prefix_1 {
	padding-left:87px;
}

.container_8 .prefix_2 {
	padding-left:174px;
}

.container_8 .prefix_3 {
	padding-left:261px;
}

.container_8 .prefix_4 {
	padding-left:348px;
}

.container_8 .prefix_5 {
	padding-left:435px;
}

.container_8 .prefix_6 {
	padding-left:522px;
}

.container_8 .prefix_7 {
	padding-left:609px;
}

/* Suffix Extra Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/

.container_8 .suffix_1 {
	padding-right:87px;
}

.container_8 .suffix_2 {
	padding-right:174px;
}

.container_8 .suffix_3 {
	padding-right:261px;
}

.container_8 .suffix_4 {
	padding-right:348px;
}

.container_8 .suffix_5 {
	padding-right:435px;
}

.container_8 .suffix_6 {
	padding-right:522px;
}

.container_8 .suffix_7 {
	padding-right:609px;
}

/* Push Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/

.container_8 .push_1 {
	left:87px;
}

.container_8 .push_2 {
	left:174px;
}

.container_8 .push_3 {
	left:261px;
}

.container_8 .push_4 {
	left:348px;
}

.container_8 .push_5 {
	left:435px;
}

.container_8 .push_6 {
	left:522px;
}

.container_8 .push_7 {
	left:609px;
}

/* Pull Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/

.container_8 .pull_1 {
	left:-87px;
}

.container_8 .pull_2 {
	left:-174px;
}

.container_8 .pull_3 {
	left:-261px;
}

.container_8 .pull_4 {
	left:-348px;
}

.container_8 .pull_5 {
	left:-435px;
}

.container_8 .pull_6 {
	left:-522px;
}

.container_8 .pull_7 {
	left:-609px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

body {
    font-family: 'Ubuntu', Times, serif;
    color: #333333
}

ol {
    font-size: 80%;
    padding: 5px 20px;
}

#accomplishment {
  background: #fff;
  border:1px solid #eee;
  padding: 0;
  border-radius: 8px;
}

#accomplishment .block {
  margin-top:  10px;
}

#accomplishment-badge {
  margin: 0;
  background: #DD4814;
  border-radius: 8px;
  text-align: left;
  font-size: 100%;
  border: 0;
  padding: 0px;
  color:  #fff;
}

#accomplishment-badge p {
  font-size: 80%;
}

#accomplishment-badge ul {
  margin-left: -20px;
}

#accomplishment-badge .icon {
  background-color: #ffffff;
  padding: 0px;
  border-radius: 8px;
  float:  left;
  padding: 10px;
  margin: 10px;
  height: 100px;
}

ul.none {
    list-style-type: none;
}

ul {
  font-size: 80%;
  font-style: italic;
}

#accomplishment-more {
 background: #fff;
 border-radius: 8px;
 border: 1px solid #eee;
 padding: 0; 
}

#divider {
  border-right:  1px dotted #333;
}

h2 {
  text-decoration: underline dotted;
}

#tipspitfalls {
  margin: 0 auto;
  overflow: hidden;
  border: 0;
  padding: 0;
  background-color: #eeeeee;
  font-style: italic;
  border-radius: 8px;  
}

.left {
  float: left;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}